In [1]:
import os
import time
import datetime
import numpy as np
import pandas as pd

from tqdm import tqdm
from selenium import webdriver

from nba_api.stats.static import players, teams
from nba_api.stats.endpoints import leaguedashptstats, leaguedashlineups

In [2]:
season_dates = {
    2013: {
      "regular_start_month":10,
      "regular_start_day": 29,
      "regular_end_month": 4,
      "regular_end_day": 16,
      "playoffs_start_month": 4,
      "playoffs_start_day": 19,
      "playoffs_end_month": 6,
      "playoffs_end_day": 15
    },
    2014: {
      "regular_start_month":10,
      "regular_start_day": 28,
      "regular_end_month": 4,
      "regular_end_day": 15,
      "playoffs_start_month": 4,
      "playoffs_start_day": 18,
      "playoffs_end_month": 6,
      "playoffs_end_day": 16
    },
    2015: {
      "regular_start_month":10,
      "regular_start_day": 27,
      "regular_end_month": 4,
      "regular_end_day": 13,
      "playoffs_start_month": 4,
      "playoffs_start_day": 16,
      "playoffs_end_month": 6,
      "playoffs_end_day": 19
    },
    2016: {
      "regular_start_month":10,
      "regular_start_day": 25,
      "regular_end_month": 4,
      "regular_end_day": 12,
      "playoffs_start_month": 4,
      "playoffs_start_day": 21,
      "playoffs_end_month": 6,
      "playoffs_end_day": 15
    },
    2017: {
      "regular_start_month":10,
      "regular_start_day": 17,
      "regular_end_month": 4,
      "regular_end_day": 11,
      "playoffs_start_month": 4,
      "playoffs_start_day": 14,
      "playoffs_end_month": 6,
      "playoffs_end_day": 8
    },
    2018: {
      "regular_start_month":10,
      "regular_start_day": 16,
      "regular_end_month": 4,
      "regular_end_day":10,
      "playoffs_start_month": 4,
      "playoffs_start_day": 13,
      "playoffs_end_month": 6,
      "playoffs_end_day": 13
    },
    2019: {
      "regular_start_month":10,
      "regular_start_day": 22,
      "regular_end_month": 8,
      "regular_end_day": 14,
      "playoffs_start_month": 8,
      "playoffs_start_day": 17,
      "playoffs_end_month": 10,
      "playoffs_end_day": 11
    },
    2020: {
      "regular_start_month":12,
      "regular_start_day": 22,
      "regular_end_month": 5,
      "regular_end_day": 16,
      "playoffs_start_month": 5,
      "playoffs_start_day": 22,
      "playoffs_end_month": 7,
      "playoffs_end_day": 22
    },
    2021: {
      "regular_start_month":10,
      "regular_start_day": 19,
      "regular_end_month": 4,
      "regular_end_day": 10,
      "playoffs_start_month": 4,
      "playoffs_start_day": 16,
      "playoffs_end_month": 5,
      "playoffs_end_day": 29
    }
}

In [18]:
lineup_poss_filepath = "C:/Users/lukar/Desktop/Sports Analytics/NBA Datasets/pbp Lineup Possessions by Weak & Year/"
lineup_pace_filepath = "C:/Users/lukar/Desktop/Sports Analytics/NBA Datasets/pbp Weekly Seconds Per Possession - Offense/"

lineup_poss_files = os.listdir(lineup_poss_filepath)
lineup_pace_files = os.listdir(lineup_pace_filepath)

lineup_poss_df = pd.DataFrame()
lineup_pace_df = pd.DataFrame()

for filename in tqdm(lineup_poss_files):
    temp_df = pd.read_csv(lineup_poss_filepath + filename)
    lineup_poss_df = lineup_poss_df.append(temp_df).reset_index(drop=True)
    
for filename in tqdm(lineup_pace_files):
    temp_df = pd.read_csv(lineup_pace_filepath + filename)
    lineup_pace_df = lineup_pace_df.append(temp_df).reset_index(drop=True)

100%|██████████████████████████████████████████████████████████████████████████████| 1439/1439 [03:43<00:00,  6.43it/s]
100%|██████████████████████████████████████████████████████████████████████████████| 1439/1439 [02:38<00:00,  9.05it/s]

In [19]:
poss_df = lineup_poss_df[['ShortName','TeamAbbreviation','Minutes','OffPoss','SEASON','DATE']].copy()
pace_df = lineup_pace_df[['ShortName','TeamAbbreviation','Minutes','SecondsPerPossOff','SEASON','DATE']].copy()

In [3]:
merged_df = pd.merge(poss_df, pace_df, on=['ShortName','TeamAbbreviation','Minutes','SEASON','DATE'], how='left')
print(merged_df.shape)
merged_df.head()

NameError: name 'poss_df' is not defined

In [24]:
merged_df.to_csv('C:/Users/lukar/Desktop/Sports Analytics/NBA Processed Data/lineup_poss_and_pace_2013_22.csv', index=False)

In [3]:
merged_df = pd.read_csv('C:/Users/lukar/Desktop/Sports Analytics/NBA Processed Data/lineup_poss_and_pace_2013_22.csv')
print(merged_df.shape)
merged_df = merged_df.rename(columns={'Minutes': 'MIN'})
merged_df.head()

(321026, 7)

,ShortName,TeamAbbreviation,MIN,OffPoss,SEASON,DATE,SecondsPerPossOff
0,"Hibbert, Hill, George, Stephenson, West",IND,17,33,2013-14,2013-10-29,15.030303
1,"Chalmers, James, Bosh, Wade, Haslem",MIA,16,31,2013-14,2013-10-29,17.129032
2,"Farmar, Hill, Meeks, Johnson, Henry",LAL,15,28,2013-14,2013-10-29,17.214286
3,"Paul, Redick, Dudley, Jordan, Griffin",LAC,13,24,2013-14,2013-10-29,14.541667
4,"Maxiell, Afflalo, Vucevic, Harkless, Nelson",ORL,12,24,2013-14,2013-10-29,15.666667

In [8]:
lineups_df = pd.DataFrame()

unique_dates = merged_df.groupby(by=['SEASON','DATE']).sum().reset_index()

for season_yr, date in tqdm(zip(unique_dates.SEASON.to_list(), unique_dates.DATE.to_list()), total=unique_dates.shape[0]):
    while True:
        try:
            temp_df = leaguedashlineups.LeagueDashLineups(
                season=season_yr,
                season_type_all_star='Regular Season',
                date_to_nullable=date,
                date_from_nullable=date).get_data_frames()[0]
            temp_df['DATE'] = date
            temp_df['SEASON'] = season_yr
            lineups_df = lineups_df.append(temp_df).reset_index(drop=True)
            time.sleep(.4)
            break
        except:
            pass        
    
print(lineups_df.shape)

lineups_df.head()

100%|██████████████████████████████████████████████████████████████████████████████| 1439/1439 [40:26<00:00,  1.69s/it]

(321160, 59)

,GROUP_SET,GROUP_ID,GROUP_NAME,TEAM_ID,TEAM_ABBREVIATION,GP,W,L,W_PCT,MIN,...,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,DATE,SEASON
0,Lineups,-2561-201579-201588-202331-202362-,D. West - R. Hibbert - G. Hill - P. George - L...,1610612754,IND,1,1,0,1.0,17.450000,...,78,2,1,48,24,1,2,2,2013-10-29,2013-14
1,Lineups,-2544-2547-2548-2617-201596-,L. James - C. Bosh - D. Wade - U. Haslem - M. ...,1610612748,MIA,1,1,0,1.0,15.916667,...,78,2,6,77,66,2,4,75,2013-10-29,2013-14
2,Lineups,-200770-201941-201975-202325-202333-,J. Farmar - J. Hill - J. Meeks - W. Johnson - ...,1610612747,LAL,1,1,0,1.0,15.050000,...,71,8,3,74,79,2,1,1,2013-10-29,2013-14
3,Lineups,-101108-200755-201162-201599-201933-,C. Paul - J. Redick - J. Dudley - D. Jordan - ...,1610612746,LAC,1,0,1,0.0,13.033333,...,69,1,6,48,75,12,3,33,2013-10-29,2013-14
4,Lineups,-2749-101131-201167-202696-203090-,J. Nelson - J. Maxiell - A. Afflalo - N. Vucev...,1610612753,ORL,1,0,1,0.0,12.366667,...,77,8,6,79,78,31,17,78,2013-10-29,2013-14

In [14]:
lineups_df.to_csv('C:/Users/lukar/Desktop/Sports Analytics/NBA Datasets/lineups_2013_22.csv', index=False)

In [4]:
lineups_df = pd.read_csv('C:/Users/lukar/Desktop/Sports Analytics/NBA Datasets/lineups_2013_22.csv')
print(lineups_df.shape)
lineups_df.head()

(321160, 59)

,GROUP_SET,GROUP_ID,GROUP_NAME,TEAM_ID,TEAM_ABBREVIATION,GP,W,L,W_PCT,MIN,...,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,DATE,SEASON
0,Lineups,-2561-201579-201588-202331-202362-,D. West - R. Hibbert - G. Hill - P. George - L...,1610612754,IND,1,1,0,1.0,17.450000,...,78,2,1,48,24,1,2,2,2013-10-29,2013-14
1,Lineups,-2544-2547-2548-2617-201596-,L. James - C. Bosh - D. Wade - U. Haslem - M. ...,1610612748,MIA,1,1,0,1.0,15.916667,...,78,2,6,77,66,2,4,75,2013-10-29,2013-14
2,Lineups,-200770-201941-201975-202325-202333-,J. Farmar - J. Hill - J. Meeks - W. Johnson - ...,1610612747,LAL,1,1,0,1.0,15.050000,...,71,8,3,74,79,2,1,1,2013-10-29,2013-14
3,Lineups,-101108-200755-201162-201599-201933-,C. Paul - J. Redick - J. Dudley - D. Jordan - ...,1610612746,LAC,1,0,1,0.0,13.033333,...,69,1,6,48,75,12,3,33,2013-10-29,2013-14
4,Lineups,-2749-101131-201167-202696-203090-,J. Nelson - J. Maxiell - A. Afflalo - N. Vucev...,1610612753,ORL,1,0,1,0.0,12.366667,...,77,8,6,79,78,31,17,78,2013-10-29,2013-14

In [6]:
merged_df['ShortName'] = merged_df['ShortName'].sort_values().apply(lambda x: ",".join(sorted(x.split(","))))

In [7]:
merged_df.head()

,ShortName,TeamAbbreviation,MIN,OffPoss,SEASON,DATE,SecondsPerPossOff
0,"George, Hill, Stephenson, West,Hibbert",IND,17,33,2013-14,2013-10-29,15.030303
1,"Bosh, Haslem, James, Wade,Chalmers",MIA,16,31,2013-14,2013-10-29,17.129032
2,"Henry, Hill, Johnson, Meeks,Farmar",LAL,15,28,2013-14,2013-10-29,17.214286
3,"Dudley, Griffin, Jordan, Redick,Paul",LAC,13,24,2013-14,2013-10-29,14.541667
4,"Afflalo, Harkless, Nelson, Vucevic,Maxiell",ORL,12,24,2013-14,2013-10-29,15.666667

In [5]:
merged_df.head()

,ShortName,TeamAbbreviation,MIN,OffPoss,SEASON,DATE,SecondsPerPossOff
0,"Hibbert, Hill, George, Stephenson, West",IND,17,33,2013-14,2013-10-29,15.030303
1,"Chalmers, James, Bosh, Wade, Haslem",MIA,16,31,2013-14,2013-10-29,17.129032
2,"Farmar, Hill, Meeks, Johnson, Henry",LAL,15,28,2013-14,2013-10-29,17.214286
3,"Paul, Redick, Dudley, Jordan, Griffin",LAC,13,24,2013-14,2013-10-29,14.541667
4,"Maxiell, Afflalo, Vucevic, Harkless, Nelson",ORL,12,24,2013-14,2013-10-29,15.666667

In [24]:
pd.merge(merged_df, lineups_df, on=['SEASON','DATE','MIN'], how='left')

,ShortName,TeamAbbreviation,MIN,OffPoss,SEASON,DATE,SecondsPerPossOff,GROUP_SET,GROUP_ID,GROUP_NAME,...,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,"Hibbert, Hill, George, Stephenson, West",IND,17,33,2013-14,2013-10-29,15.030303,Lineups,-2561-201579-201588-202331-202362-,D. West - R. Hibbert - G. Hill - P. George - L...,...,1.0,3.0,78.0,2.0,1.0,48.0,24.0,1.0,2.0,2.0
1,"Chalmers, James, Bosh, Wade, Haslem",MIA,16,31,2013-14,2013-10-29,17.129032,Lineups,-2544-2547-2548-2617-201596-,L. James - C. Bosh - D. Wade - U. Haslem - M. ...,...,9.0,3.0,78.0,2.0,6.0,77.0,66.0,2.0,4.0,75.0
2,"Farmar, Hill, Meeks, Johnson, Henry",LAL,15,28,2013-14,2013-10-29,17.214286,Lineups,-200770-201941-201975-202325-202333-,J. Farmar - J. Hill - J. Meeks - W. Johnson - ...,...,2.0,1.0,71.0,8.0,3.0,74.0,79.0,2.0,1.0,1.0
3,"Paul, Redick, Dudley, Jordan, Griffin",LAC,13,24,2013-14,2013-10-29,14.541667,Lineups,-101108-200755-201162-201599-201933-,C. Paul - J. Redick - J. Dudley - D. Jordan - ...,...,4.0,2.0,69.0,1.0,6.0,48.0,75.0,12.0,3.0,33.0
4,"Maxiell, Afflalo, Vucevic, Harkless, Nelson",ORL,12,24,2013-14,2013-10-29,15.666667,Lineups,-2749-101131-201167-202696-203090-,J. Nelson - J. Maxiell - A. Afflalo - N. Vucev...,...,5.0,55.0,77.0,8.0,6.0,79.0,78.0,31.0,17.0,78.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12984694,"Craig, Holiday, Shamet, Lundberg, Biyombo",PHX,0,0,2021-22,2022-04-10,0.000000,Lineups,-1627736-1629162-1629669-1629675-1630162-,M. Beasley - J. McLaughlin - J. Nowell - N. Re...,...,325.0,280.0,1.0,152.0,103.0,1.0,1.0,249.0,351.0,174.0
12984695,"Craig, Holiday, Shamet, Lundberg, Biyombo",PHX,0,0,2021-22,2022-04-10,0.000000,Lineups,-202687-1628470-1629013-1630688-1630994-,B. Biyombo - T. Craig - L. Shamet - I. Wainrig...,...,325.0,280.0,201.0,152.0,103.0,1.0,145.0,249.0,351.0,250.0
12984696,"Craig, Holiday, Shamet, Lundberg, Biyombo",PHX,0,0,2021-22,2022-04-10,0.000000,Lineups,-202687-203901-1628470-1629013-1630994-,B. Biyombo - E. Payton - T. Craig - L. Shamet ...,...,325.0,280.0,1.0,152.0,103.0,1.0,1.0,249.0,351.0,174.0
12984697,"Craig, Holiday, Shamet, Lundberg, Biyombo",PHX,0,0,2021-22,2022-04-10,0.000000,Lineups,-1628380-1629111-1629719-1630200-1630580-,Z. Collins - J. Landale - D. Cacok - T. Jones ...,...,325.0,280.0,1.0,152.0,103.0,1.0,145.0,249.0,351.0,174.0
12984698,"Craig, Holiday, Shamet, Lundberg, Biyombo",PHX,0,0,2021-22,2022-04-10,0.000000,Lineups,-202687-1628470-1628988-1629013-1630994-,B. Biyombo - T. Craig - A. Holiday - L. Shamet...,...,325.0,280.0,1.0,152.0,103.0,1.0,1.0,249.0,342.0,139.0

In [21]:
lineups_df['MIN'] = round(lineups_df['MIN'], 0)
lineups_df['MIN'] = lineups_df['MIN'].astype(np.int64)

lineups_df[['GROUP_ID','DATE','SEASON','MIN']]

                                         GROUP_ID        DATE   SEASON  MIN
0              -2561-201579-201588-202331-202362-  2013-10-29  2013-14   17
1                    -2544-2547-2548-2617-201596-  2013-10-29  2013-14   16
2            -200770-201941-201975-202325-202333-  2013-10-29  2013-14   15
3            -101108-200755-201162-201599-201933-  2013-10-29  2013-14   13
4              -2749-101131-201167-202696-203090-  2013-10-29  2013-14   12
...                                           ...         ...      ...  ...
321155  -1627736-1629162-1629669-1629675-1630162-  2022-04-10  2021-22    0
321156   -202687-1628470-1629013-1630688-1630994-  2022-04-10  2021-22    0
321157    -202687-203901-1628470-1629013-1630994-  2022-04-10  2021-22    0
321158  -1628380-1629111-1629719-1630200-1630580-  2022-04-10  2021-22    0
321159   -202687-1628470-1628988-1629013-1630994-  2022-04-10  2021-22    0

[321160 rows x 4 columns]

In [8]:
weekly_touches_df = pd.DataFrame()
    
for season_yr, date in tqdm(zip(unique_dates.SEASON.to_list(), unique_dates.DATE.to_list()), total=unique_dates.shape[0]):
    while True:
        try:
            temp_df = leaguedashptstats.LeagueDashPtStats(
                season=season_yr,
                player_or_team='Player',
                pt_measure_type='Possessions',
                per_mode_simple='Totals',
                date_to_nullable=date,
                date_from_nullable=date
            ).get_data_frames()[0]
            temp_df['DATE'] = date
            temp_df['SEASON'] = season_yr
            weekly_touches_df = weekly_touches_df.append(temp_df).reset_index(drop=True)
            break
        except:
            pass
        
print(weekly_touches_df.shape)
    
weekly_touches_df.head()

100%|██████████████████████████████████████████████████████████████████████████████| 1439/1439 [17:05<00:00,  1.40it/s]

(226785, 23)

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,GP,W,L,MIN,POINTS,TOUCHES,...,AVG_DRIB_PER_TOUCH,PTS_PER_TOUCH,ELBOW_TOUCHES,POST_TOUCHES,PAINT_TOUCHES,PTS_PER_ELBOW_TOUCH,PTS_PER_POST_TOUCH,PTS_PER_PAINT_TOUCH,DATE,SEASON
0,203094,Andrew Nicholson,1610612753,ORL,1,0,1,19.0,18,18,...,0.56,1.000,0,3,1,0.000,1.333,2.000,2013-10-29,2013-14
1,201167,Arron Afflalo,1610612753,ORL,1,0,1,33.0,9,57,...,1.88,0.158,1,2,0,0.000,1.000,0.000,2013-10-29,2013-14
2,201933,Blake Griffin,1610612746,LAC,1,0,1,40.0,19,73,...,0.79,0.260,10,15,11,0.000,0.467,0.909,2013-10-29,2013-14
3,201228,C.J. Watson,1610612754,IND,1,1,0,20.0,5,38,...,4.87,0.132,0,0,0,0.000,0.000,0.000,2013-10-29,2013-14
4,2430,Carlos Boozer,1610612741,CHI,1,0,1,32.0,31,53,...,0.68,0.585,3,7,10,0.667,1.000,1.300,2013-10-29,2013-14

In [4]:
otime_filepath = 'C:/Users/lukar/Desktop/Sports Analytics/NBA Datasets/pbp Seconds Per Possession - Offense/'

files = os.listdir(otime_filepath)

otimes_df = pd.DataFrame()

for filename in files:
    season_param = filename[:7]
    team_id = int(filename.split('-')[-1].replace('.csv',''))
    team_info = teams.find_team_name_by_id(team_id)
    team_abb = team_info['abbreviation']
    
    temp_df = pd.read_csv(otime_filepath + filename)
    temp_df['TEAM'] = team_abb
    temp_df['SEASON'] = season_param
    temp_df = temp_df.rename(columns={'Player': 'PLAYER_NAME'})
    
    otimes_df = otimes_df.append(temp_df).reset_index(drop=True)
    
print(otimes_df.shape)

otimes_df['PLAYER_NAME'] = otimes_df['PLAYER_NAME'].apply(lambda x: 'Michael Frazier II' if x == 'Michael Frazier' else x)

otimes_df.head()

(5396, 8)

,PLAYER_NAME,Minutes On,Minutes Off,SPP-OFF P-On,SPP-OFF P-OFF,Difference,TEAM,SEASON
0,Jared Cunningham,22,3944,14.667,14.980,-0.31,ATL,2013-14
1,Lou Williams,1445,2521,14.826,15.066,-0.24,ATL,2013-14
2,Pero Antic,925,3041,15.193,14.912,0.28,ATL,2013-14
3,Shelvin Mack,1490,2476,15.055,14.933,0.12,ATL,2013-14
4,Paul Millsap,2482,1484,15.027,14.897,0.13,ATL,2013-14

In [5]:
otimes_df['LAST NAME'] = otimes_df['PLAYER_NAME'].str.split(' ').str[-1]
otimes_df.head()

,PLAYER_NAME,Minutes On,Minutes Off,SPP-OFF P-On,SPP-OFF P-OFF,Difference,TEAM,SEASON,LAST NAME
0,Jared Cunningham,22,3944,14.667,14.980,-0.31,ATL,2013-14,Cunningham
1,Lou Williams,1445,2521,14.826,15.066,-0.24,ATL,2013-14,Williams
2,Pero Antic,925,3041,15.193,14.912,0.28,ATL,2013-14,Antic
3,Shelvin Mack,1490,2476,15.055,14.933,0.12,ATL,2013-14,Mack
4,Paul Millsap,2482,1484,15.027,14.897,0.13,ATL,2013-14,Millsap

In [6]:
for season in otimes_df['SEASON'].unique():
    season_df = otimes_df[otimes_df['SEASON'] == season].reset_index(drop=True)
    for team in season_df['TEAM'].unique():
        team_df = season_df[season_df['TEAM'] == team].reset_index(drop=True)
        team_df = team_df[['LAST NAME']].copy()
        dup_df = team_df[team_df.duplicated(keep=False)]
        if dup_df.shape[0] > 0:
            print(season, team, dup_df['LAST NAME'].unique())

2013-14 DEN ['Miller']
2013-14 LAL ['Harris']
2013-14 NYK ['Smith']
2013-14 IND ['Hill']
2013-14 PHX ['Morris']
2014-15 MIA ['Dragic']
2014-15 NYK ['Smith']
2014-15 ORL ['Gordon']
2014-15 IND ['Hill']
2014-15 PHX ['Morris' 'Dragic']
2014-15 SAC ['Miller']
2014-15 SAS ['Green']
2014-15 TOR ['Johnson']
2014-15 MEM ['Green']
2014-15 CHA ['Williams']
2015-16 CLE ['Jones']
2015-16 GSW ['Thompson']
2015-16 MIA ['Johnson']
2015-16 IND ['Hill']
2015-16 MEM ['Green']
2015-16 WAS ['Jr.']
2016-17 CLE ['Jones' 'Williams']
2016-17 DAL ['Harris']
2016-17 HOU ['Williams']
2016-17 LAC ['Johnson']
2016-17 MIA ['Johnson']
2016-17 IND ['Young']
2016-17 WAS ['Jr.']
2017-18 DEN ['Harris']
2017-18 HOU ['Brown' 'Jackson']
2017-18 LAC ['Williams' 'Johnson']
2017-18 LAL ['Ingram']
2017-18 MIA ['Jr.' 'Johnson']
2017-18 IND ['Young']
2017-18 PHX ['Jr.']
2017-18 MEM ['Johnson' 'Brooks']
2017-18 WAS ['Jr.']
2018-19 NOP ['Johnson']
2018-19 CHI ['Sampson' 'Jr.']
2018-19 DAL ['Jr.']
2018-19 LAL ['Ingram']
2018-19 MIA ['Johnson']
2018-19 NYK ['Jr.']
2018-19 PHI ['Simmons']
2018-19 SAC ['III']
2018-19 MEM ['Brooks']
2018-19 WAS ['Jr.']
2019-20 CLE ['Jr.']
2019-20 CHI ['Jr.']
2019-20 MIL ['Antetokounmpo' 'Lopez']
2019-20 IND ['Holiday']
2019-20 PHI ['III']
2019-20 PHX ['Johnson']
2019-20 SAC ['III']
2019-20 WAS ['Robinson']
2019-20 CHA ['Martin']
2020-21 CLE ['Jr.']
2020-21 CHI ['Jr.']
2020-21 HOU ['Jr.' 'Thomas']
2020-21 MIL ['Antetokounmpo']
2020-21 BKN ['Johnson']
2020-21 ORL ['Jr.']
2020-21 IND ['Holiday']
2020-21 POR ['Jr.']
2020-21 SAC ['III']
2020-21 DET ['Jackson']
2020-21 CHA ['Martin']
2021-22 ATL ['Hill']
2021-22 NOP ['Jr.']
2021-22 CHI ['Jr.']
2021-22 DAL ['Brown' 'Jr.']
2021-22 DEN ['Green']
2021-22 HOU ['Jr.']
2021-22 LAL ['Jones']
2021-22 MIL ['Antetokounmpo']
2021-22 ORL ['Wagner']
2021-22 POR ['Jr.']
2021-22 SAS ['Johnson']
2021-22 DET ['Jackson' 'Diallo']
2021-22 CHA ['Jr.']

In [7]:
otimes_df[(otimes_df['SEASON'] == '2020-21') & (otimes_df['TEAM'] == 'CLE')]

,PLAYER_NAME,Minutes On,Minutes Off,SPP-OFF P-On,SPP-OFF P-OFF,Difference,TEAM,SEASON,LAST NAME
4051,Yogi Ferrell,40,3446,15.361,15.462,-0.10,CLE,2020-21,Ferrell
4052,Taurean Prince,687,2799,15.315,15.496,-0.18,CLE,2020-21,Prince
4053,Jarrett Allen,1544,1942,15.592,15.356,0.24,CLE,2020-21,Allen
4054,Isaac Okoro,2173,1313,15.531,15.345,0.19,CLE,2020-21,Okoro
4055,Larry Nance Jr.,1091,2395,15.699,15.353,0.35,CLE,2020-21,Jr.
4056,Andre Drummond,722,2764,15.562,15.434,0.13,CLE,2020-21,Drummond
4057,Darius Garland,1790,1696,15.353,15.574,-0.22,CLE,2020-21,Garland
4058,Cedi Osman,1511,1975,15.543,15.397,0.15,CLE,2020-21,Osman
4059,JaVale McGee,503,2983,15.611,15.435,0.18,CLE,2020-21,McGee
4060,Dean Wade,1212,2274,15.537,15.420,0.12,CLE,2020-21,Wade
4061,Dylan Windler,513,2973,15.053,15.531,-0.48,CLE,2020-21,Windler
4062,Damyean Dotson,907,2579,15.418,15.475,-0.06,CLE,2020-21,Dotson
4063,Marques Bolden,29,3457,14.845,15.465,-0.62,CLE,2020-21,Bolden
4064,Collin Sexton,2115,1371,15.422,15.519,-0.10,CLE,2020-21,Sexton
4065,Kevin Love,622,2864,15.446,15.463,-0.02,CLE,2020-21,Love
4066,Dante Exum,116,3370,15.444,15.461,-0.02,CLE,2020-21,Exum
4067,Thon Maker,76,3410,16.095,15.447,0.65,CLE,2020-21,Maker
4068,Kevin Porter Jr.,0,3486,0.000,15.460,-15.46,CLE,2020-21,Jr.
4069,Lamar Stevens,499,2987,15.218,15.500,-0.28,CLE,2020-21,Stevens
4070,Matthew Dellavedova,224,3262,15.381,15.466,-0.08,CLE,2020-21,Dellavedova
4071,Quinn Cook,95,3391,14.984,15.474,-0.49,CLE,2020-21,Cook
4072,Brodric Thomas,375,3111,15.458,15.461,0.00,CLE,2020-21,Thomas
4073,Isaiah Hartenstein,287,3199,15.428,15.463,-0.04,CLE,2020-21,Hartenstein
4074,Mfiondu Kabengele,186,3300,14.737,15.503,-0.77,CLE,2020-21,Kabengele
4075,Jeremiah Martin,75,3411,15.394,15.462,-0.07,CLE,2020-21,Martin
4076,Anderson Varejao,36,3450,14.654,15.469,-0.82,CLE,2020-21,Varejao